<div class="container" id="forgotpwd">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand logo"><img src="assets/images/logo1.png" alt="LOGO" width="50%" routerLink="/"></a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown dropleft sign-in">
                Already have an account? <a routerLink="/"> SIGN IN <img src='assets/login/arrow.svg' alt="right-arrow"
                        width="17px" /></a>

            </li>
        </ul>
    </nav>

    <div *ngIf="sendfpwdrequest === 'true'" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 forgot-password">
            <h2>Forgot Password</h2>
            <p>Don't worry, we all forget. We'll send you instructions on how to reset your password. </p>
            <form [formGroup]="forgotpasswordForm" noValidate>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" onkeydown="return /[a-zA-Z0-9-_]/i.test(event.key)" id="username"
                        formControlName="username" [ngClass]="{ 'is-invalid': forgotpasswordsubmitted && f.username.invalid }"
                        matInput placeholder="Enter your username">
                    <mat-icon matSuffix><img src='assets/login/username.svg'
                            alt="username" /></mat-icon>
                    <mat-hint class="danger" *ngIf="forgotpasswordsubmitted && f.username.errors?.required">Username is
                        required.
                    </mat-hint>
                    <mat-hint class="danger" *ngIf="f.username.errors?.pattern">Special Characters not allowed.
                    </mat-hint>

                </mat-form-field>
                <p class="forgot-username"><a routerLink='/Forgot-username'>FORGOT USERNAME?</a></p>

                <div class="row">
                    <div class="col-sm-12">
                        <h4>Answer the Security Question</h4>
                        <div id="securityQueAns" class="securityQueAns">
                            <div class="form-group">
                                <p class="security-question">
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="securityQuestion">
                                        <option value="" disabled>Choose your security question </option>
                                        <option *ngFor="let s of securityquestions; let i = index" [ngValue]="s">{{s}}
                                        </option>
                                    </select>
                                </p>
                                <div class="red"
                                    *ngIf="forgotpasswordsubmitted && f.securityQuestion.invalid && f.securityQuestion.errors.required">
                                    Select one question.</div>
                            </div>
                            <input type="text" id="securityanswer" formControlName="securityAnswer"
                                placeholder="Type your answer here" class="form-control"
                                [ngClass]="{ 'is-invalid': forgotpasswordsubmitted && f.securityAnswer.invalid }">
                            <div *ngIf="forgotpasswordsubmitted && f.securityAnswer.invalid"
                                class="invalid-feedback">
                                <div *ngIf="f.securityAnswer.errors.required">Answer is required.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <button mat-flat-button (click)="forgotPassword()" class="signInBtn" [ngClass]="{'btnEnabled' : forgotpasswordForm.valid}">
                    Submit
                </button>

            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div *ngIf="sendfpwdrequest === 'false'" class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 success_message">
            <img src="assets/login/Indicator.svg" alt="tick" />
            <h2>Request sent</h2>
            <p>We have sent your request to the <b style="color:black;">Administrator</b>
                to reset your account password.</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>