/* Tree.module.css */
/* .tree-container {
  font-family: 'Arial', sans-serif;
}

.tree-node {
  margin-bottom: 8px;
}

.tree-label {
  cursor: pointer;
  margin-left: 8px;
} */

.treeArrow {
  margin-right: 4px;
}

/* .tree-children {
  margin-left: 20px;
} */